.main {
    width: 90%;
    margin: 0 auto;
}

.main>li {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 5fr));
    gap: 10px;
  
}
.main>p{
    padding: 20px 0;
    font-size: 25px;
}