.main {

    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 5fr));
    gap: 10px;
}

.main .imageContainer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .imageContainer>img {
    width: 100%;

}

.container {
    box-shadow: 0px 0px 4px 4px white;
    padding: 0 10px;
}

.btnCont {
    width: 100%;
    margin: 10px 0 5px;
}

.btnCont .btn {
    width: 100%;
    padding: 12px 0;
    text-transform: capitalize;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    transition: 1s linear;
}

.btnCont .btn:hover {
    background: transparent;
    color: black;
    border: 1px solid black;
}

.mainClick {
    display: block;
  width: 20%;
}
.imageContainerClick{
    width: 100%;
}
button{

}
.imageContainerClick img{
    width: 100%;
}