.main {
    width: 90%;
    margin: 0 auto;
}

.category {
    display: flex;
    /* gap: 10px; */
    background: rgba(0, 0, 0, 0.187);
    text-transform: capitalize;
    text-align: center;
    justify-content: space-between;
    padding: 10px  0;
}