.header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1),
        0 8px 10px -6px rgba(0, 0, 0, .1);
}


.main {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1);
    background: white;
    color: black;
    width: 30vw;
    height: 100vh;
    z-index: 4;
    transition: 1s ease-in-out;
    animation: sidebar 2s forwards;
    overflow: scroll;
    scroll-behavior: smooth;
}

@keyframes sidebar {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.side>img {
    width: 30px;
}

.openImg {
    transition: 1s all;
}





.logo {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: black;
    position: relative;
    border-radius: 50px;
    border: 1px solid white;
    transition: 0.6s ease-in-out;
}

.container .imgContainer {
    position: absolute;
    left: 15px;
    top: 15px;
}

.container .imgContainer>img {
    width: 20px;
    filter: invert(1);
}

.container.active {
    width: 90%;
    display: flex;

}

.container .input {
    width: 500px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    right: -50px;
    top: 10px;
}

.container .input>input {
    width: 88%;
    border-radius: 8px;
    padding: 5px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
    box-sizing: border-box;
    height: 30px;
    box-sizing: border-box;
}
.container .input>input::placeholder{
    text-transform: capitalize;
}
.search {
    width: 100%;

    box-sizing: border-box;
    border-radius: 10px;
    justify-content: space-between;
    /* border: 1px solid black; */
}



.shoppingCart {
    display: flex;
    align-items: center;
    background: pink;
    padding: 10px;
    background: red;
    justify-content: space-between;
}

.shoppingCart>img {}

.cartList {
    width: 50%;
}

.open {
    background: black;
    transition: 0.7s ease;
    color: white;
}

.close {
    background: white;
    color: black;
    transition: 0.5s ease;
}

.myCart {}

.trash {
    width: 100%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;

}

@media screen and (max-width:600px) {
    .sidebar {
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        bottom: 0;
    }

    .logo {
        width: 100%;
        gap: 0px;
    }



    .search {
        width: 100%;
    }
}